html,body{height: 100%;}
body{background:white;}
*{margin: 0;padding: 0;box-sizing: border-box;font-family: 'Poppins',sans-serif;}
.animate{
    -webkit-transition: all 0.3s ease-out;
          transition: all 0.3s ease-out;
}
a{text-decoration: none;}

.header img{height:30px;float: left;position: relative;margin-left: 30px;margin-top: 15px;}
.header{background:#333;font-weight: bold;width:100%;position: fixed;z-index: 100; display: block; }
.header__menu{float:right; margin:0; padding:0;}
.header__menu__item{display: inline-block;}
.header__menu__item a{color:#fff; display: block;  padding:20px;}
.header__menu__item a:hover{background: #000}
.header__icon-bar{display: block; float: right; padding: 20px; display: none;}
.header__icon-bar span{display: block; height: 3px; width: 30px;background: #fff; margin-bottom:5px;}







@media (max-width: 767px){
    .header{position:fixed; z-index:100; width: 100%;}
    .header__icon-bar{display: block;}
    .header__menu{width: 100%;height:0px; overflow: hidden;}
    .header__menu__item{display: block;}
    .is-open{height:250px; overflow: auto; }
  }
