<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/carrello-style.css">
    <title>Document</title>
</head>

<body>
    <header class="header clearfix">
        <img src="/assets/img/tooth.svg" alt="" srcset="">
        <a href="" class="header__icon-bar">
            <span></span>
            <span></span>
            <span></span>
        </a>
        <ul class="header__menu animate">
            <li class="header__menu__item"><a href="/views/index.html">Home</a></li>
            <li class="header__menu__item"><a href="#">FAQs</a></li>
            <li class="header__menu__item"><a href="/views/log-in.html">Log in</a></li>
            <li class="header__menu__item"><a href="/views/carrello.html">Cart</a></li>
        </ul>
    </header>
    <section class="cart">
        <h2>Your Cart</h2>
        <div class="legenda">
            <h6>Product</h6>
            <h6>Quantity</h6>
            <h6>Price</h6>
        </div>
        <div class="prodotto-aggiunto">
            <img class="immagine-prodotto" src="/assets/img/cocco.jpg" alt="" srcset="">


            <div class="quantità">
                <button class="meno-quantità">-</button>
                <p class="numero-quantità">50</p>
                <button class="più-quantità">+</button>
            </div>
            <h5 class="prezzo-totale-prodotto-selezionato">59.99</h5>
        </div>
        <div class="totale">
            <p>Total</p>
            <h2 class="prezzo-totale">59.99</h2>
        </div>
        <div class="box-btn-checkout">
            <button class="remove-all">Remove All</button>
            <button class="checkout">Checkout</button>
        </div>
    </section>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript" src="/assets/js/header.js"></script>

</body>

</html>