<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/checkout-style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600&display=swap" rel="stylesheet">
    <title>Document</title>

</head>

<body>

    <div class="grid">

        <div>
            <h4 class="titolo-input">Name</h4>
            <input type="text" class="nome-input box-input" placeholder="Name">
        </div>
        <div>
            <h4 class="titolo-input">Surname</h4>
            <input type="text" class="cognome-input box-input" placeholder="Surname">
        </div>
        <div>
            <h4 class="titolo-input">Email</h4>
            <input type="text" class="email-input box-input" placeholder="Email">
        </div>
        <div>
            <h4 class="titolo-input">State</h4>
            <input type="text" class="stato-input box-input" placeholder="State">
        </div>
        <div>
            <h4 class="titolo-input">City</h4>
            <input type="text" class="città-input box-input" placeholder="City">
        </div>
        <div>
            <h4 class="titolo-input">Addres</h4>
            <input type="text" class="via-input box-input" placeholder="Addres">
        </div>
        <div>
            <h4 class="titolo-input">CAP</h4>
            <input type="text" class="cap-input box-input" placeholder="CAP">
        </div>
        
    </div>

    <div class="grid">
        <div>
            <h4 class="titolo-input">Card Type</h4>
            <select class="tipo-carta">
                <option value="">Visa</option>
                <option value="">Mastercard</option>
                <option value="">Maestro</option>
                <option value="">Pay Pal</option>
                <option value="">Amex</option>
            </select>
        </div>
        <div>
            <h4 class="titolo-input">Card Number</h4>
            <input type="text" class="numero-carta-input box-input" placeholder="">
        </div>
        <div>
            <h4 class="titolo-input">Nome</h4>
            <input type="text" class="nome-intestatario-input box-input" placeholder="Name">
        </div>
        <div>
            <h4 class="titolo-input">Cognome</h4>
            <input type="text" class="cognome-intestatario-input box-input" placeholder="Surname">
        </div>
        <div>
            <h4 class="titolo-input">scadenza</h4>
            <input type="text" class="scadenza-input box-input" placeholder="scadenza">
        </div>
        <div>
            <h4 class="titolo-input">CVV</h4>
            <input type="text" class="cvv-input box-input" placeholder="CVV">
        </div>
    </div>
    <button class="btn-card buy-btn">Buy Now</button>

    <footer>
        <div class="footer-section">
            <h4>Shop</h4>
            <a href="#">Infos</a>
            <a href="#">Contact us</a>
            
        </div>
        <div class="footer-section">
            <h4>Product</h4>
            <a href="/product-page">Buy Now</a>
            <a href="#">Learn More</a>
            
        </div>
        <div class="footer-section">
            <div class="footer-logo">
                <img src="/assets/img/visa.png" alt="">
            <img src="/assets/img/mastercard.png" alt="">
            <img src="/assets/img/maestro.png" alt="">
            <img src="/assets/img/paypal.png" alt="">
            <img src="/assets/img/amex.png" alt="">
            </div>
            <p>Copyright nome-sito 2020</p>
        </div>

    </footer>
    
</body>

</html>