<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Oxygen:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/swiper/css/swiper.min.css">
    <link rel="stylesheet" href="/assets/css/style.css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body>

    <header class="header clearfix">
        <img src="/assets/img/tooth.svg" alt="" srcset="">
        <a href="" class="header__icon-bar">
            <svg width="24px" height="24px" viewBox="0 0 24 24">
	        <g fill-rule="evenodd">
    	        <rect fill="currentColor" x="0" y="5" width="24" height="2" rx="1"></rect>
                <rect fill="currentColor" x="0" y="11" width="24" height="2" rx="1"></rect>
                <rect fill="currentColor" x="0" y="17" width="24" height="2" rx="1"></rect>
            </g>
            </svg>
        </a>
        
        <ul class="header__menu animate">
            <li class="header__menu__item"><a href="/">Home</a></li>
            <li class="header__menu__item"><a href="/product-page">Product</a></li>
            <li class="header__menu__item"><a href="#">Details</a></li>
            <li class="header__menu__item"><a href="#">Infos</a></li>
            <a href="" class="croce">
            <svg height="24" width="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
	            <g fill="none" fill-rule="evenodd">
		            <path d="M0 0h24v24H0z"></path>
                    <path d="M12 10.586l4.95-4.95a1 1 0 0 1 1.414 1.414L13.414 12l4.95 4.95a1 1 0 0 1-1.414 1.414L12 13.414l-4.95 4.95a1 1 0 0 1-1.414-1.414l4.95-4.95-4.95-4.95A1 1 0 0 1 7.05 5.636l4.95 4.95z" fill="currentColor"></path>
                </g>
            </svg>
            </a>
        </ul>
    </header>

    <!--Swiper Js -->

    <div class="swiper-container">
        <div class="swiper-wrapper">

            <div class="swiper-slide">
                <img src="/assets/img/stocazzo.jpg" loading="lazy" alt="">
                <div class="text-cover">
                    <div class="title">
                        <h1>Lorem Ipsum Dolor</h1>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                </div>
            </div>

            <div class="swiper-slide">
                <img src="/assets/img/stocazzo.jpg" loading="lazy" alt="">
                <div class="text-cover">
                    <div class="title">
                        <h1>Lorem Ipsum Dolor</h1>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                </div>
            </div>

            <div class="swiper-slide">
                <img src="/assets/img/stocazzo.jpg" loading="lazy" alt="">
                <div class="text-cover">
                    <div class="title">
                        <h1>Lorem Ipsum Dolor</h1>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                </div>
            </div>
            

        </div>

        <div class="swiper-pagination"></div>

    </div>

    <!--Card Sections-->

    <section class="contenitore">
        <div class="card" id="card-1">
            <div class="contenuto">
                <h3 style="text-transform: uppercase; font-weight: 400;">The easiest, most effective way to whiten your teeth at home</h3>
                <p class="descrizione">The HiSmile™ Teeth Whitening Kit is an at-home teeth whitening solution, designed to whiten and brighten teeth without pain or sensitivity.</p>
                <a class="btn-card" href="/product-page">Shop Now</a>
            </div>
            <img src="/assets/img/cocco.jpg" loading="lazy" alt="" srcset="">
        </div>
        <div class="card" id="card-2">
            <img src="/assets/img/dentifricio.jpg" loading="lazy" alt="" srcset="">
            <div class="contenuto">
                <h3 style="text-transform: uppercase; font-weight: 400;">The easiest, most effective way to whiten your teeth at home</h3>
                <p class="descrizione">The HiSmile™ Teeth Whitening Kit is an at-home teeth whitening solution, designed to whiten and brighten teeth without pain or sensitivity.</p>
                <a class="btn-card" href="/assets/slider/index.html">Learn more</a>
            </div>

        </div>

    </section>

     <section class="newsletter">
           <p>Iscriviti per conoscere tutte le otterte del nostro store</p>
           <div class="scatola">
               <input class="email-newsletter box-input" type="text" placeholder="E-mail">
               <span></span>
               <button class="email-conferma btn-card">Vai</button>
           </div>
     </section>

    <footer>
        <div class="footer-section">
            <h4>Shop</h4>
            <a href="#">Infos</a>
            <a href="#">Contact us</a>
            
        </div>
        <div class="footer-section">
            <h4>Product</h4>
            <a href="/product-page">Buy Now</a>
            <a href="#">Learn More</a>
            
        </div>
        <div class="footer-section">
            <div class="footer-logo">
            <img src="/assets/img/visa.png" alt="">
            <img src="/assets/img/mastercard.png" loading="lazy" alt="">
            <img src="/assets/img/maestro.png" loading="lazy" alt="">
            <img src="/assets/img/paypal.png" loading="lazy" alt="">
            <img src="/assets/img/amex.png" loading="lazy" alt="">
            </div>
            <p>Copyright nome-sito 2020</p>
        </div>

    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js" async></script>
    <script src="https://unpkg.com/swiper/js/swiper.min.js"></script>
    <script type="text/javascript" src="/assets/js/header.js" async></script>
    
    


</body>

</html>