<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/Website-Mattia/assets/css/log-in-style.css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Document</title>
</head>

<body>
    <header class="header clearfix">
        <img src="/Website-Mattia/assets/img/tooth.svg" alt="" srcset="">
        <a href="" class="header__icon-bar">
            <span></span>
            <span></span>
            <span></span>
        </a>
        <ul class="header__menu animate">
            <li class="header__menu__item"><a href="/Website-Mattia/views/index.html">Home</a></li>
            <li class="header__menu__item"><a href="/Website-Mattia/views/log-in.html">Log in</a></li>
            <li class="header__menu__item"><a href="/Website-Mattia/views/carrello.html">Cart</a></li>
            <li class="header__menu__item"><a href="#">Infos</a></li>
        </ul>
    </header>


    <div class="box">
        <h5>Email</h5>
        <input class="email-input" type="email" name="" placeholder="Email">
        <h5>Password</h5>
        <input class="password-input" type="password" name="" placeholder="Password">
        <div><button class="btn-card">Login</button></div>
        <div class="info">
            <span>Or register</span>
            <a href="#">here!</a>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript" src="/Website-Mattia/assets/js/header.js"></script>

</body>

</html>