<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/Website-Mattia/assets/css/prodotto-style.css">
    <title>Document</title>
</head>

<body>
    <header class="header clearfix">
        <img src="/Website-Mattia/assets/img/tooth.svg" alt="" srcset="">
        <a href="" class="header__icon-bar">
            <span></span>
            <span></span>
            <span></span>
        </a>
        <ul class="header__menu animate">
            <li class="header__menu__item"><a href="/Website-Mattia/views/index.html">Home</a></li>
            <li class="header__menu__item"><a href="/Website-Mattia/views/log-in.html">Log in</a></li>
            <li class="header__menu__item"><a href="/Website-Mattia/views/carrello.html">Cart</a></li>
            <li class="header__menu__item"><a href="#">Infos</a></li>
        </ul>
    </header>

    <div class="card" id="card-2">
        <img src="/Website-Mattia/assets/img/dentifricio.jpg" alt="" srcset="">
        <div class="contenuto">
            <h3>The easiest, most effective way to whiten your teeth at home</h3>
            <p class="descrizione">The HiSmile™ Teeth Whitening Kit is an at-home teeth whitening solution, designed to whiten and brighten teeth without pain or sensitivity.</p>
            <a class="btn-card" href="/Website-Mattia/views/carrello.html">Add to cart</a>
        </div>
    </div>

    <div class="commenti">
        <h3>Comments Section (WIP)</h3>
        <textarea class="commenti-input" rows="5" cols="80"></textarea>
        <button class="btn-card">Add comment</button>
    </div>

    <section class="box-commenti">
        <div class="informazioni">
            <h4 class="nome">Nome Utente</h4>
            <div class="foto-testo">
                <img class="immagine-prodotto" src="/Website-Mattia/assets/img/dentifricio.jpg" alt="">
                <div class="testo">
                    <p>Reviewing</p>
                    <p class="nome-prodotto-recensito">Teeth Whitening Kit</p>
                </div>
            </div>
            <div class="acquisto-verificato">
                <img src="/Website-Mattia/assets/img/spunta.png" alt="">
                <span>Acquisto verificato</span>
            </div>
        </div>

        <div class="contenuto-commento">
            <p class="testo-commento">The HiSmile™ Teeth Whitening Kit is an at-home teeth whitening solution, designed to whiten and brighten teeth without pain or sensitivity.</p>
        </div>

    </section>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript" src="/Website-Mattia/assets/js/header.js"></script>

</body>

</html>