@import url(/assets/css/style.css);

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
    padding-top: 130px;
    margin-top: 0;
}

.card img {
    width: 30%;
}

.descrizione {
    margin: 40px 0;
}
.btn-select-checkout{
    display: flex;
    align-items: center;
}

.quantità{
    margin-left: 40px;
    display: flex;
    align-items: center;
    
}

.fa, .fas {
    font-size: 0.5rem;
}

.numero-quantità{
    margin-left: 10px;
    margin-right: 10px;
}

.prezzo {
    margin-bottom: 5%;
}

/*.commenti {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    margin-left: 10%;
    margin-right: 50%;
    margin-bottom: 80px;
}

.commenti-input {
    max-width: 500px;
    width: 100%;
    resize: none;
    border: solid 1px var(--color-black);
}

.commenti h3,
input,
button {
    margin: 20px 0;
}

.box-commenti {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10%;
    margin-right: 10%;
    border-bottom: 0.5px solid black;
    padding: 10px;
}

.informazioni {
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.foto-testo {
    display: flex;
    align-items: center;
}

.immagine-prodotto {
    height: 80px;
}

.acquisto-verificato img {
    height: 15px;
}

.contenuto-commento {
    margin-left: 10%;
}

.nome,
.foto-testo,
.acquisto-verficato {
    margin: 10px 0;
}

.immagine-prodotto {
    margin-right: 20px;
}*/

@media(max-width:767px){
    .card{
    padding-top: 90px;
    margin-bottom: 60px;}

    .card img{width:80%;}

    .descrizione{margin: 20px 0;}

    .btn-card{width:54%;}

    /*.commenti{
        margin-right: 10%;
        margin-bottom: 60px;
    }

    .box-commenti{flex-direction: column;}

    .informazioni{margin-bottom: 30px;}*/

}
