
html,body{height: 100%;}
body{background:white;}
*{margin: 0;padding: 0;box-sizing: border-box;font-family: 'Poppins',sans-serif;}
.animate{
    -webkit-transition: all 0.3s ease-out;
          transition: all 0.3s ease-out;
}
a{text-decoration: none;}

.header img{height:30px;float: left;position: relative;margin-left: 30px;margin-top: 15px;}
.header{background:#333;font-weight: bold;width:100%;position: fixed;z-index: 100; display: block; }
.header__menu{float:right; margin:0; padding:0;}
.header__menu__item{display: inline-block;}
.header__menu__item a{color:#fff; display: block;  padding:20px;}
.header__menu__item a:hover{background: #000}
.header__icon-bar{display: block; float: right; padding: 20px; display: none;}
.header__icon-bar span{display: block; height: 3px; width: 30px;background: #fff; margin-bottom:5px;}


.card{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
  padding-top: 130px;
}
.card img {width: 30%;}
.contenuto{
  margin: 0 40px;
  width: 40%;
  display: flex;
  flex-direction: column;
}
#btn-pagina-singola{width: 40%;padding: 10px;background:#333;color: white;border: none;text-align: center;cursor: pointer;}
#btn-pagina-singola:hover{background: #000;}
.descrizione{margin: 40px 0;}

.commenti{display: flex;
justify-content: flex-start;
flex-direction: column;
margin-left: 10%;
margin-right: 50%;
margin-bottom: 80px;
}
.commenti-input{max-width: 80%;max-height:100px;min-width: 80%;min-height:100px ;}
.commenti h3,input,button{margin: 20px 0;}

.box-commenti{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10%;
  margin-right: 10%;
  border-bottom: 0.5px solid black;
  padding: 10px;
}
.informazioni{
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.foto-testo{display: flex;align-items: center;}
.immagine-prodotto{height: 80px;}
.acquisto-verificato img{height: 15px;}
.contenuto-commento{margin-left: 10%;}
.nome,.foto-testo,.acquisto-verficato{margin: 10px 0;}
.immagine-prodotto{margin-right: 20px;}








@media (max-width: 767px){
    .header{position:fixed; z-index:100; width: 100%;}
    .header__icon-bar{display: block;}
    .header__menu{width: 100%;height:0px; overflow: hidden;}
    .header__menu__item{display: block;}
    .is-open{height:250px; overflow: auto; }
  }
