:root {

  --color-black: #1d1d1d;
  --color-white: #ffffff;
  --color-green: green;
}


html,
body {
  height: 100%;
  line-height: 1.25 !important;
}

body {
  background: var(--color-white);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
}

.animate {
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

a {
  text-decoration: none;
}

/* HEADER */
.header img {
  height: 30px;
  float: left;
  position: relative;
  margin-left: 30px;
  margin-top: 15px;
}

.header {
  background: var(--color-black);
  width: 100%;
  position: fixed;
  z-index: 100;
  display: block;
  text-transform: uppercase;
}

.header__menu {
  float: right;
  margin: 0;
  padding: 0;
}

.header__menu__item {
  display: inline-block;
}

.header__menu__item a {
  color: var(--color-white);
  display: block;
  padding: 20px;
}

.header__menu__item a:hover {
  background: var(--color-black);
}

.header__icon-bar {
  display: block;
  float: right;
  padding: 20px;
  display: none;
}

.header__icon-bar span {
  display: block;
  height: 3px;
  width: 30px;
  background: var(--color-white);
  margin-bottom: 5px;
}

/* COVER */
.cover {
  height: 80%;
  width: 85%;
  background-image: url("/Website-Mattia/assets/img/custom.jpg");
  background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  position: relative;
  left: 7.5%;
  top: 7.5%;
}

/*card*/
.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 60px;
  margin-bottom: 40px;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
}

.card img {
  width: 40%;
}

.contenuto {
  margin: 0 40px;
  width: 40%;
  display: flex;
  flex-direction: column;
}

.btn-card {
  width: 40%;
  padding: 10px;
  background: var(--color-black);
  color: var(--color-white);
  border: solid 1px transparent;
  outline: 0 !important;
  text-align: center;
  cursor: pointer;
  text-transform: uppercase;
  transition: 0.3s;
}


.btn-card:hover {
  background: var(--color-white);
  color: var(--color-black);
  border: solid 1px var(--color-black);
  transition: 0.3s;

}

.descrizione {
  margin: 40px 0;
}

footer {
  display: flex;
  justify-content: space-around;
  background: var(--color-black);
  margin-top: 5%;
}

.footer-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: var(--color-white);
}

.footer-section a {
  margin: 20px;
  color: var(--color-white);
  transition: 0.3s;
}

.footer-section h4 {
  margin-top: 40px;
  text-transform: uppercase;
}

.footer-section a:hover {
  color: rgb(90, 86, 86);
  transition: 0.3s;
}

/*------------------------------ Smartphone -------------------------------*/
@media (max-width: 767px) {
  .header {
      position: fixed;
      z-index: 100;
      width: 100%;
  }

  .header__icon-bar {
      display: block;
  }

  .header__menu {
      width: 100%;
      height: 0px;
      overflow: hidden;
  }

  .header__menu__item {
      display: block;
  }

  .is-open {
      height: 250px;
      overflow: hidden;
  }

  .cover {
      height: 70%;
      width: 100%;
      left: 0;
  }

  #card-1 {
      flex-direction: column-reverse;
  }

  #card-2 {
      flex-direction: column;
  }

  .card img {
      width: 90%;
  }

  .contenuto {
      width: 90%;
      margin-top: 20px;
  }

  .card {
      margin-bottom: 40px;
  }

  .descrizione {
      margin: 20px;
  }

  footer {
      flex-direction: column;
  }
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

* html .clearfix {
  zoom: 1;
}

*:first-child+html .clearfix {
  zoom: 1;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}