:root {

  --color-black: #1d1d1d;
  --color-white: #ffffff;
  --color-header-hover:rgb(243, 240, 240);


  --swiper-theme-color: #fff;
  --swiper-navigation-size: 30px;
}


html,
body {
  height: 100%;
  line-height: 1.25 !important;
  /*text-rendering: optimizeLegibility;*/
}

body {
  background: var(--color-white);
}
.no-scroll{
  overflow-y: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
  -webkit-tap-highlight-color: transparent;
}

::selection {
  color: inherit;
  background: #f2f2f2;
}


a{
  text-decoration: none;
}

/* Slider */

.swiper-container,.swiper-wrapper,.swiper-slide,.swiper-slide img{
  position: relative;
  width: 100%;
  height: 100%;
  margin-bottom: 10%;
  object-position: center center;
  object-fit: cover;
}

.swiper-button-prev, .swiper-button-next{
  opacity: 0.7;
  outline: none !important;
}

/* Slider Bullets */

.swiper-pagination-bullets {
    bottom: 5% !important;
    width: 100% !important;
    margin-left: 6.5vw;
    height: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    
}

.swiper-pagination-bullet {
  width: 50px;
  height: 2.5px;
  margin-right: 10px !important;
  border-radius: 0 !important;
  opacity: 1;
  background-color: rgba(255, 255, 255, 0.5);
  transition: all 0.3s ease 0s
}

.swiper-pagination-bullet-active {
  background: #fff;
  transition: all 0.3s ease 0s
}


/* Slider gradient */

.swiper-slide:after{
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-image: linear-gradient(to bottom,rgba(0,0,0,0),#000 77%);
  opacity: 0.6;
}

/* Slider text cover */

.swiper-slide .text-cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  z-index: 1000;
}

.swiper-slide .title {
  margin-left: 6.5vw;
  margin-right: 6.5vw;
  margin-bottom: 7%;
  padding-right: 20%;
}

.swiper-slide .title h1 {
  font-family: 'Oxygen', sans-serif;
  color: var(--color-white);
  max-width: 1280px;
  font-size: 64px;
  font-weight: 700;
  line-height: 1;
}

.swiper-slide .title p {
  font-family: 'Oxygen', sans-serif;
  color: var(--color-white);
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.45;
  margin-bottom: 30px;
}


/* HEADER */
.header img {
  height: 30px;
  float: left;
  position: relative;
  margin-left: 30px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.header {
  background: rgba(0,0 ,0,0);
  background-image: linear-gradient( to bottom, rgba(0,0,0,0.43), rgba(0,0,0,0) );
  width: 100%;
  position: fixed;
  z-index: 1000;
  display: block;
  text-transform: uppercase;
  transition: background-color 100ms ease-in-out;
  /*box-shadow: 0 1px 5px rgba(0, 0, 0, .55);*/
}

.header.normal {
  background-color: var(--color-white) !important;
  background-image: none;
  /*box-shadow: 0 1px 5px rgba(0, 0, 0, .55);*/
  transition: background-color 100ms ease-in-out;
}


.header__menu {
  float: right;
  margin: 0;
  padding: 0;
}

.header__menu__item {
  display: inline-block;
}

.header__menu__item a {
  color: var(--color-white);
  display: block;
  padding: 20px;
  font-weight: lighter;
  letter-spacing: 1px;
  transition: color 100ms ease-in-out;
}

.header__menu__item a.normal{
  color: var(--color-black);
  transition: color 100ms ease-in-out;
}

.header__menu__item a.normal.is-open{
  color: var(--color-white);
  transition: color 100ms ease-in-out;
}

.header__icon-bar {
  display: block;
  float: right;
  padding: 20px;
  display: none;
  color: var(--color-white);
}
.croce{
  position: absolute;
  right: 0%;
  top: 0%;
  padding: 20px;
  display: none;
  color: var(--color-white);
}

.header__icon-bar.normal {
  color: var(--color-black);
  transition: color 100ms ease-in-out;
}
.card {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10%;
}

.card img {
  width: 30%;
}

.contenuto {
  margin: 0 40px;
  width: 45%;
  display: flex;
  flex-direction: column;
}

.btn-card {
  width: 35%;
  padding: 10px;
  background: transparent;
  color: var(--color-black);
  border: solid 1px var(--color-black);
  outline: 0 !important;
  text-align: center;
  cursor: pointer;
  text-transform: uppercase;
  transition: 0.20s ease-in-out;
  
}


.btn-card:hover {
  background: var(--color-black);
  color: var(--color-white);
  border: solid 1px var(--color-black);
  transition: 0.20s ease-in-out;

}

.descrizione {
  margin: 40px 0;
  font-size: 0.8em;
  color: var(--color-black);
}
.box-input {
  border: 1px solid var(--color-black);
  padding: 10px;
  width: 100%;
  max-width: 300px;
  outline: 0 !important;
  transition: ease-out 0.15s;
  border-radius: 4px;
}

.box-input:focus::placeholder{
  opacity: 0;
  transition: ease-out 0.15s;
  padding-left: 10px;
}
.newsletter{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10%;
  padding: 5%;
  background-color: rgb(252, 252, 252);
}
.newsletter p{
  font-size: 0.9em;
  margin-bottom: 30px;
}
.scatola{
  display: flex;
}
.email-newsletter{
  border-radius: 0px;
  margin-right: 10px;
  width: 500px
}
.email-conferma{
  background: var(--color-black);
  color: var(--color-white);
}
.email-conferma:hover{
  background: var(--color-white);
  color: var(--color-black);
}
footer {
  display: flex;
  justify-content: space-around;
  background: var(--color-white);
  border-top: 1px solid var(--color-black);
}

.footer-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: var(--color-black);
  
}

.footer-section a {
  margin: 20px;
  color: var(--color-black);
  transition: 0.3s;
}

.footer-section h4 {
  margin: 20px;
  text-transform: uppercase;
}

.footer-section a:hover {
  color: rgb(90, 86, 86);
  transition: 0.3s;
}
.footer-logo img{
  height: 25px;
  margin: 0 10px;
  
}
.footer-logo{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 50px;
}


/*------------------------------ Smartphone -------------------------------*/
@media (max-width: 768px) {
  .header {
      z-index: 100;
      width: 100%;
      box-shadow: none;
  }

  .header__icon-bar,.croce{
      display: block;
  }
  .header__menu {
      width: 100%;
      height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      position: absolute;
      transform: translateX(100%);
      left: 0%;
      background: black;
      z-index: 400;
}

  .header__menu__item {
      display: block;
  }
  .header__menu__item a {
    color: var(--color-white);
    font-weight: 700;
    font-family: 'Oxygen', sans-serif;
    font-size: 1.2rem;
    line-height: normal;
    letter-spacing: 1px;
    padding: 30px;
    transition: 300ms ease-in;
  }
  .is-open {
      overflow: hidden;
      transform: translateX(0%) translateZ(0px);
  }
  
  .swiper-container{
    position: relative;
    width: 100%;
    height: 100%;
  }

  .swiper-slide .title {
    margin-left: 4.5vw;
    margin-right: 4.5vw;
    margin-bottom: 20%;
    padding-right: 10%;
  }

  .swiper-slide .title h1 {
    font-family: 'Oxygen', sans-serif;
    color: var(--color-white);
    max-width: 1280px;
    font-size: 48px;
    font-weight: 700;
    line-height: 1;
  }
  
  .swiper-slide .title p {
    font-family: 'Oxygen', sans-serif;
    color: var(--color-white);
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.45;
    margin-bottom: 20px;
  }

  
  .swiper-pagination-bullet {
    width: 30px;
  }
  
  .btn-card {
    width: 40%;
  }

  .btn-card:hover {
    background: var(--color-black);
    color: var(--color-white);
  }
  
  
  #card-1 {
      flex-direction: column-reverse;
  }

  #card-2 {
      flex-direction: column;
  }

  .card img {
      width: 90%;
      margin-top: 15%;
  }

  .contenuto {
      width: 90%;
      margin-top: 20px;
  }

  .contenuto h3 {
    text-transform: uppercase;
    font-size: 1em;
  }

  .carta {
      margin-bottom: 40px;
  }

  .descrizione {
      margin: 20px;
  }
  .newsletter{
    padding-left:20px;
    padding-right: 20px;
    margin-top: 20%;
  }
  .email-newsletter{
    width: 250px;
  }
  footer {
      flex-direction: column;
  }
  .footer-section{
    margin-bottom: 20px;
  }
  .footer-logo{
    justify-content: space-around;
  }
  .footer-logo img{
    margin: 0px;
  }
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

* html .clearfix {
  zoom: 1;
}

*:first-child+html .clearfix {
  zoom: 1;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}