:root {

  --color-black: #1d1d1d;
  --color-white: #ffffff;
  --color-header-hover:rgb(243, 240, 240);


  --swiper-theme-color: #fff;
  --swiper-navigation-size: 30px;
}


html,
body {
  height: 100%;
  line-height: 1.25 !important;
  /*text-rendering: optimizeLegibility;*/
}

body {
  background: var(--color-white);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
}

::selection {
  color: inherit;
  background: #f2f2f2;
}

.animate {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

a{
  text-decoration: none;
}

/* Slider */

.swiper-container,.swiper-wrapper,.swiper-slide,.swiper-slide img{
  width: 100%;
  height: 100%;
  margin-bottom: 10%;
}

.swiper-button-prev, .swiper-button-next{
  opacity: 0.7;
  outline: none !important;
}


/* HEADER */
.header img {
  height: 30px;
  float: left;
  position: relative;
  margin-left: 30px;
  margin-top: 15px;
}

.header {
  background: rgba(0,0 ,0,0);
  width: 100%;
  position: fixed;
  z-index: 1000;
  display: block;
  text-transform: uppercase;
  transition: background-color 200ms ease-in-out;
  /*box-shadow: 0 1px 5px rgba(0, 0, 0, .55);*/
}

.header.normal {
  background-color: var(--color-white) !important;
  /*box-shadow: 0 1px 5px rgba(0, 0, 0, .55);*/
  transition: background-color 200ms ease-in-out;
}


.header__menu {
  float: right;
  margin: 0;
  padding: 0;
  background-color: var(--color-white) !important;
}

.header__menu__item {
  display: inline-block;
}

.header__menu__item a {
  color: var(--color-black);
  display: block;
  padding: 20px;
  font-weight: lighter;
}

.header__menu__item a:hover {
  background: var(--color-header-hover);
} 

.header__icon-bar {
  display: block;
  float: right;
  padding: 20px;
  display: none;
}

.header__icon-bar span {
  display: block;
  height: 3px;
  width: 30px;
  background: var(--color-black);
  margin-bottom: 5px;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10%;
}

.card img {
  width: 30%;
}

.contenuto {
  margin: 0 40px;
  width: 40%;
  display: flex;
  flex-direction: column;
}

.btn-card {
  width: 35%;
  padding: 10px;
  background: transparent;
  color: var(--color-black);
  border: solid 1px var(--color-black);
  outline: 0 !important;
  text-align: center;
  cursor: pointer;
  text-transform: uppercase;
  transition: 0.20s ease-in-out;
  
}


.btn-card:hover {
  background: var(--color-black);
  color: var(--color-white);
  border: solid 1px var(--color-black);
  transition: 0.20s ease-in-out;

}

.descrizione {
  margin: 40px 0;
  font-size: 0.8em;
}

footer {
  display: flex;
  justify-content: space-around;
  background: var(--color-white);
  margin-top: 10%;
  border-top: 1px solid var(--color-black);
}

.footer-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: var(--color-black);
  
}

.footer-section a {
  margin: 20px;
  color: var(--color-black);
  transition: 0.3s;
}

.footer-section h4 {
  margin: 20px;
  text-transform: uppercase;
}

.footer-section a:hover {
  color: rgb(90, 86, 86);
  transition: 0.3s;
}
.footer-logo img{
  height: 25px;
  margin: 0 10px;
  
}
.footer-logo{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 50px;
}


/*------------------------------ Smartphone -------------------------------*/
@media (max-width: 767px) {
  .header {
      position: static;
      z-index: 100;
      width: 100%;
      background: var(--color-white);
      box-shadow: none;
  }

  .header__icon-bar {
      display: block;
      
  }
  .header__menu {
      width: 100%;
      height: 0px;
      overflow: hidden;
  }

  .header__menu__item {
      display: block;
  }

  .is-open {
      height: 250px;
      overflow: hidden;
  }
  
  .swiper-container{
    width: 100%;
    height: 50%;
  }
  .swiper-button-prev, .swiper-button-next{
    zoom: 0.6;
    margin-left: 10px;
    margin-right: 10px;
  }
  
  .btn-card {
    width: 40%;
  }

  .btn-card:hover {
    background: var(--color-black);
    color: var(--color-white);
  }
  
  
  #card-1 {
      flex-direction: column-reverse;
  }

  #card-2 {
      flex-direction: column;
  }

  .card img {
      width: 90%;
      margin-top: 20%;
  }

  .contenuto {
      width: 90%;
      margin-top: 20px;
  }

  .contenuto h3 {
    text-transform: uppercase;
    font-size: 1em;
  }

  .carta {
      margin-bottom: 40px;
  }

  .descrizione {
      margin: 20px;
  }

  footer {
      flex-direction: column;
      margin-top: 30%;
  }
  .footer-section{
    margin-bottom: 20px;
  }
  .footer-logo{
    justify-content: space-around;
  }
  .footer-logo img{
    margin: 0px;
  }
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

* html .clearfix {
  zoom: 1;
}

*:first-child+html .clearfix {
  zoom: 1;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}